<mat-sidenav-container autosize="true" class="sidenav-container">
  <mat-sidenav [attr.role]="'navigation'" [mode]="'side'" [opened]="true"
               class="sidenav" fixedInViewport="true">
    <mat-nav-list class="h-full">
      <div class="flex flex-col justify-between h-[inherit]">
        <div>
          <mat-list-item (click)="toggleDisplayText()">
            <mat-icon aria-hidden="false" matListItemIcon>{{hideMenuText
              ? 'keyboard_double_arrow_right' : 'keyboard_double_arrow_left'}}</mat-icon>
          </mat-list-item>
          <a mat-list-item routerLink="overview" routerLinkActive="active">
            <mat-icon aria-hidden="false" matListItemIcon>home</mat-icon>
            <div [hidden]="hideMenuText" matListItemTitle>Overview</div>
          </a>
          <a mat-list-item routerLink="realtime" routerLinkActive="active">
            <mat-icon aria-hidden="false" matListItemIcon>timer</mat-icon>
            <div [hidden]="hideMenuText" matListItemTitle>Realtime updates</div>
          </a>
        </div>
        <div>
          <a mat-list-item routerLink="profile" routerLinkActive="active">
            <mat-icon aria-hidden="false" matListItemIcon>person</mat-icon>
            <div [hidden]="hideMenuText" matListItemTitle>Preference</div>
          </a>
          <mat-list-item (click)="logout()">
            <mat-icon aria-hidden="false" matListItemIcon>logout</mat-icon>
            <div [hidden]="hideMenuText" matListItemTitle>Logout</div>
          </mat-list-item>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="h-full p-2">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
