<mat-sidenav-container class="example-container">
  <mat-sidenav [mode]="'side'" opened="true">
    Menu
  </mat-sidenav>

  <mat-sidenav-content>
    <section>
      <div class="example-label">Basic</div>
      <div class="example-button-row">
        <button mat-button>Basic</button>
        <button color="primary" mat-button>Primary</button>
        <button color="accent" mat-button>Accent</button>
        <button color="warn" mat-button>Warn</button>
        <button disabled mat-button>Disabled</button>
        <a href="https://www.google.com/" mat-button target="_blank">Link</a>
      </div>
    </section>
    <mat-divider></mat-divider>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Option 1</mat-radio-button>
      <mat-radio-button value="2">Option 2</mat-radio-button>
    </mat-radio-group>
    <mat-divider></mat-divider>
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <mat-divider></mat-divider>
    <mat-spinner></mat-spinner>
    <mat-divider></mat-divider>
    <p>
      <mat-slide-toggle>Slide me!</mat-slide-toggle>
    </p>
    <p>
      <mat-slide-toggle labelPosition="before">...and slide me too!</mat-slide-toggle>
    </p>
    <mat-divider></mat-divider>
  </mat-sidenav-content>
</mat-sidenav-container>
